@model List<Web.Dto.ReservationDtos.ResultReservationDto>
@{
    ViewData["Title"] = "Rezervasyonlar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
    var locations = ViewBag.LocationNames as IDictionary<int, string>;
    var cars = ViewBag.CarNames as IDictionary<int, string>;
}

<br />
<br />
<br />

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rezervasyonlar</h5>

                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>E-posta</th>
                                <th>Telefon</th>
                                <th>Alış</th>
                                <th>Bırakış</th>
                                <th>Araç</th>
                                <th>Yaş</th>
                                <th>Ehliyet Yılı</th>
                                <th>Durum</th>
                                <th>Açıklama</th>
                                <th style="width: 210px;">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    count++;

                                    // Görüntülenecek adlar
                                    var pickName = (item.PickUpLocationID.HasValue
                                    && locations != null
                                    && locations.ContainsKey(item.PickUpLocationID.Value))
                                    ? locations[item.PickUpLocationID.Value]
                                    : "";
                                    var dropName = (item.DropOffLocationID.HasValue
                                    && locations != null
                                    && locations.ContainsKey(item.DropOffLocationID.Value))
                                    ? locations[item.DropOffLocationID.Value]
                                    : "";
                                    var carName = (cars != null && cars.ContainsKey(item.CarID))
                                    ? cars[item.CarID]
                                    : item.CarID.ToString();

                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Name</td>
                                        <td>@item.Surname</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@pickName</td>
                                        <td>@dropName</td>
                                        <td>@carName</td>
                                        <td>@item.Age</td>
                                        <td>@item.DriverLicenseYear</td>
                                        <td>@item.Status</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <a href="/Admin/AdminReservation/ReservationStatusToDelivered/@item.ReservationID" class="btn btn-outline-dark btn-sm">Teslim Edildi</a>
                                            <a href="/Admin/AdminReservation/ReservationStatusToReceived/@item.ReservationID" class="btn btn-outline-dark btn-sm">Alındı</a>
                                            <a href="/Admin/AdminReservation/RemoveReservation/@item.ReservationID" class="btn btn-outline-dark btn-sm">Sil</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="13">Kayıt bulunamadı.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
